*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--page-bg);
	color: var(--text-color);
	font-family: var(--font-main);
	text-wrap: balance;
}

img {
	max-width: 100%;
    height: auto;
}

a {
	color: var(--link-color);
}

